.text-profile{
    display: flex;
    justify-content: center;
    width: 750px;
    height: auto;
    border: solid white;
    border-radius: 20px;
    padding: 15px;
    font-size:16px;
    color: white;
    position: relative;
    right: 250px;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

@media screen and (max-width:1235px) {
    .text-profile{
        display: flex;
        width: 90%;
        justify-content: center;
        position: relative;
        right: 0px;
    }
}