.conteiner-profile{
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 100vh; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    border: solid red;
    padding: 10px;
    
}

.conteiner-title-profile{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    border: solid green

}

/* .title-profile{
    margin: 70px 0 0 0;
    font-family: 'Londrina Sketch', cursive;
    color: rgb(255, 124, 0) ;
    font-size: 80px;
    padding: 0px 0px 0px 125px;
    justify-content: center;
    align-items: center;
} */


/* @media screen and (max-width:500px) {
    .title-profile{
        font-size: 60px;
    }
}
@media screen and (max-width:899px) {
    .title-profile{
        margin: 50px 0 0 0;
    }
} */

/* .conteiner-skill{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 70px 0px;
    border: solid orange;
} */
/* .conteiner-text-profile{
    display: flex;
    width: 100%;
    border: solid blue;
} */

/* #conteiner-first-style{
    margin: 200px 0 0 0;

} */
.text-profile{
    display: flex;
    justify-content: center;
    width: 750px;
    height: auto;
    border: solid white;
    border-radius: 20px;
    padding: 15px;
    font-size:16px;
    color: white;
    position: relative;
    right: 180px;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

@media screen and (max-width:1235px) {
    .conteiner-profile{
        gap: 20px;
    }
    /* .title-profile{
        padding: 0px 0px 0px 0px;
    } */
    .text-profile{
        display: flex;
        justify-content: center;
        position: relative;
    right: 0px;
  

    }
    .conteiner-text-profile{
        display: flex;
        justify-content: center;
    
    }

}