.conteiner-box{
    border: solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #898a8ac4, 0 0 10px #898a8ac4, 0 0 10px #898a8ac4; 

}

.box{
    width: 300px;
    background:white;
    backdrop-filter: blur(15px);
    color: black;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px;
    opacity: 1;
    
}
.box-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    
}

#outlined-basic{
    color: black;
    font-family:Arial, Helvetica, sans-serif;

}
#outlined-multiline-flexible{
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border-color: azure;
}
.contact{
    display: flex;
    flex-direction: column;   
    justify-content:center;
    gap: 20px;
    margin: 10px;
}


.icon-input{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
   border-radius: 10px 10px 10px 10px;
   background: transparent;
   backdrop-filter: blur(15px);
   border: solid 1px;
}

/* este codigo es para los botones de contacto */

.button {
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em .8em;
  padding-right: 4.7em;
  background: green;
  border: none;
  color: white;
  transition: .2s;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    text-align: center;
    
    transition: .2s;
    transform-origin: 50% 60%;
  }
  &:before {
    background:rgba(94, 93, 93, 0.177);
    border-radius: 0 5px 5px 0;
  }
  &:hover {
    background: darken(pink, 10%);
  }
  &:active,
  &:focus {
    background: darken(pink, 30%);
    outline: none;
  }
}

.button {
  min-width: 15em;
}


.phone { 
  background:transparent;
  height: 50px;

  font-size: 15px;
  border: solid white 1px;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  &:hover {
    background: darken(transparent, 10%);
  }
  &:active,
  &:focus {
    background: darken(transparent, 20%);
  }
  &:after {
    content: "\F095";
  }
  &:hover:after {
    -webkit-animation: wiggle .05s alternate ease infinite;
    animation: wiggle .05s alternate ease infinite;
  }
}

.email {
    background:transparent;
    font-size: 15px;
    height: 50px;
    border: solid white 1px;
    backdrop-filter: blur(15px);
    border-radius: 5px;
  &:hover {
    background: darken(#C673B3, 10%);
  }
  &:active,
  &:focus {
    background: darken(#C673B3, 20%);
  }
  &:after {
    content: "\F0E0";
  }
  &:hover:after {
    -webkit-animation: none;
    -webkit-transform: skew(-20deg);
    animation: none;
    transform: skew(-20deg);
    text-indent: .1em;
  }
}


@-webkit-keyframes bounceright {
  from { -webkit-transform: translateX(0); }
  to   { -webkit-transform: translateX(3px); }
}

@-webkit-keyframes wiggle {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(30deg); }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}